@page
@model CODModel

@{
    ViewData["Title"] = "COD";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body p-4">
                    <h1 class="card-title">@ViewData["Title"]</h1>
                    
                    <p class="mb-3">Enter details:</p>

                    <form id="CODForm" method="post" asp-page-handler="ProcessPayment">

                        <div class="mb-3">
                            <label for="ZipCode" class="form-label">Zip Code</label>
                            <input type="number" name="ZipCode" class="form-control" id="ZipCode" required/>
                        </div>

                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <textarea name="Address" class="form-control" id="address" rows="3" required ></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary" name="submitType" value="submit">Submit</button>
                        <button type="submit" class="btn btn-primary" name="submitType" value="payByCard">Pay by card</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
